In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
corona_virus_data = pd.read_excel('COVID_FINAL_DATA_PAKISTAN.xlsx')

In [7]:
corona_virus_data.head()

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11,0,0,3,ICT,2,8
1,5,61,0,95,2020-03-11,0,0,6,Punjab,0,7
2,6,84,14,171,2020-03-11,1,0,1,Sindh,13,55
3,7,20,0,28,2020-03-11,0,0,0,KP,0,2
4,8,3,0,0,2020-03-11,0,0,0,KPTD,0,0

In [12]:
corona_virus_data.drop('Unnamed: 0',axis=1, inplace=True)

In [13]:
corona_virus_data.head()

,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,48,2,80,2020-03-11,0,0,3,ICT,2,8
1,61,0,95,2020-03-11,0,0,6,Punjab,0,7
2,84,14,171,2020-03-11,1,0,1,Sindh,13,55
3,20,0,28,2020-03-11,0,0,0,KP,0,2
4,3,0,0,2020-03-11,0,0,0,KPTD,0,0

In [17]:
punjab_corona_virus_cases = corona_virus_data[corona_virus_data['Region']=='Punjab']

In [23]:
print("Total Details for Punjab: ", len(punjab_corona_virus_cases))

Total Details for Punjab:  15