In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_virus_data = pd.read_csv('covid_19_clean_complete.csv')

In [3]:
corona_virus_data.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [4]:
#Replace Nan with "Not Specified" in Province/State
copy_corona_data = corona_virus_data
copy_corona_data['Province/State'] = copy_corona_data['Province/State'].replace(np.nan, "Not Specified")

In [5]:
copy_corona_data.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Not Specified,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,Not Specified,Japan,36.0000,138.0000,1/22/20,2,0,0
2,Not Specified,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,Not Specified,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,Not Specified,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [9]:
#Province/State where value
copy_corona_data[copy_corona_data['Province/State'] !='Not Specified'].head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
5,British Columbia,Canada,49.2827,-123.1207,1/22/20,0,0,0
6,New South Wales,Australia,-33.8688,151.2093,1/22/20,0,0,0
7,Victoria,Australia,-37.8136,144.9631,1/22/20,0,0,0
8,Queensland,Australia,-28.0167,153.4000,1/22/20,0,0,0
19,South Australia,Australia,-34.9285,138.6007,1/22/20,0,0,0