In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_virus_data = pd.read_csv('covid_19_clean_complete.csv')

In [3]:
corona_virus_data.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [13]:
corona_virus_data[corona_virus_data['Province/State'] === ""]

SyntaxError: invalid syntax (<ipython-input-13-b33895ae74d4>, line 1)